.main-screen {
    /* border: 1px solid; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.text-box {
    border: 1px solid;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 10%;
    position: relative;
    top: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

textarea {
    border: none;
    height: 68%;
    width: 90%;
    border-radius: 15px;
    font-size: 16;
    padding-top: 15px;
    padding-left: 10px;

}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}